* {
    margin:0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    background: #28282d;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 450px;
    background-color: #28282d;
    backdrop-filter: blur(10px) ;
    border: 2px solid white;
    padding: 60px;
    border-radius: 10px;
}




.container h1 {
    text-align: center;
    font-size: 30px ;
    color: white ;
}

.container .input-field { 
    position:relative;
    width: 100%;
    height: 35px;
    margin: 20px auto;
}

.input-field input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 16px;
    color:white;
    padding: 20px 25px;
}

.input-field input::placeholder {
    color:white;
}

.input-field .icon {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translate(-50%);
    font-size: 16px;
    color:white;
}

.container .recall-forget {
    display: flex;
    justify-content: space-between ;
    font-size: 15px;
}

.recall-forget label {
    color:white;
}

.recall-forget input {
    margin-right: 3px;
}

.recall-forget a,
.signup-link p a {
    color:white;
    text-decoration: none;
}

.recall-forget a:houver,
.signup-link p a:houver { 
    text-decoration: underline;
}

.container button {
    width: 100%;
    height: 50px;
    /*background-color: #ffffff;*/
    color: white;
    border: 1px solid whitesmoke;
    outline: 1px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
    
}

.container .signup-link {
    font-size: 15px;
    text-align: center;
    margin: 20PX 0 10PX;
    text-shadow: none;
    color: white
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 180px; /* ajuste conforme necessário */
    height: auto;
}