body, html {
    background-color: #121214;
    margin: 0;
    padding: 0;

}

.logo-restaurante {
    position:absolute;
    top: 40px;
    left: 650px;
    width: 190px; /* ajuste conforme necessário */
    height: auto;
    z-index: 1000;
    padding: 10px;
    background-color: #121214;
}


.title-table {
    text-align: center;
    margin-bottom: 80px;

}
.container-table {
    background-color: #121214;
    min-height: 100vh;
    margin-top: 120px;
    padding: 30px 0;
    font-family: 'Inter', sans-serif;
}
.nao-pago {
    color: red;
    font-weight: bold;
}

.ordersSt.pendente {
    color: #D45C5C; 
    font-weight: bold; 
}

.ordersSt.emPreparacao {
    color: #F4D03F;
    font-weight: bold;  
}

.ordersSt.finalizado {
    color: #58D68D; 
    font-weight: bold; 
}

.p-description {
    padding: 7px;
    width: 100%;
    font-size: 22px;
    color: #e1e1e6;
}


.p-order{
    text-align:left;
    padding: 7px;
}
.listOrders{
    text-align: left;
    padding: 5px;
}
.delOrders{
    text-align: center;
    color: #ff0000;
    font-weight: 800;
}
.ct-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.btn-modal{
    width: 180px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 7px;
    padding: 10px 20px;
    box-sizing:border-box;
    background-color: #C70000;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-modal-Fechar{
    width: 180px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 7px;
    padding: 10px 20px;
    box-sizing:border-box;
    background-color: #2F4C5A;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-delModal{
    background-color: #C70000;
}
.btn-fechar{
    background-color: #2F4C5A;
}

.bd-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .ct-modal {
    background-color: white ;
    padding: 5px;
    border-radius: 8px;
    width: 600px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
  }

  .ct-modal h3{
    padding: 5px;
    margin-bottom: 5px;
    color: #e1e1e6;
    text-align: center;
    width: 100%;
    font-size: 24px;
  }
.ct-table{
    padding:12px;
    width: 85%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
     
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;*/
      
}

.ct-table td:last-child, .ct-table th:last-child {
    text-align: left;   /* Alinha o conteúdo da última coluna a esquerda */
    width: 280px;         /* Ajusta a largura da última coluna */
    padding: 10px;        /* Ajusta o padding da última coluna */
  }


.ct-table thead {
    background-color: #202024;
    color: #e1e1e6;
    font-size: 16px;
    font-weight: 600;
}

.ct-table thead tr th {
    padding: 20px 15px !important;
    text-align: left;
    
}

.h2 {
    background-color: #121214;
}

.ct-table tbody{
    /*background-color: #28282d;*/  
    color: #c4c4cc;
    fontSize: 14px;
}
.ct-table tbody tr:hover {
    background-color: #43434a;
}

.ct-table tbody td{
    padding: 12px 15px; 
    border-bottom: 1px solid rgba(196, 196, 204, 0.4);
   
}
.td-btn{
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: left; 
    gap: 4px;
}
.ct-btn-table{
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #C70000 ;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.btn-del {
    display: flex;
    align-items: left;
    justify-content: left;
  }

 

